body, button, input, textarea {
  font-family: 'Source Sans', sans-serif;
  font-size: 13px;
  font-weight: normal; }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  
  :root {
    --header-outer-height: 110px;
    --header-inner-height: 70px;
    --header-height-difference: calc(
      var(--header-outer-height) - var(--header-inner-height)
    );
    --header-bg: #fff;
  }

/* Sticky header */
.header-outer {
  /* Make it stick */
  height: var(--header-outer-height);
  position: sticky;
  top: calc(
    var(--header-height-difference) * -1
  ); /* Multiply by -1 to get a negative value */
  display: flex;
  align-items: center;

  /* Other */
  background-color: var(--header-bg);
  box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.1);
}

.header-inner {
  /* Make it stick */
  height: var(--header-inner-height);
  position: sticky;
  top: 0;

  /* Other */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styling of other elements */
.header-logo img {
  display: block;
  height: calc(var(--header-inner-height) - 30px);
  background-image: url(../images/__logo__.svg);
}

.header-navigation {
  display: flex;
  flex-wrap: wrap;
}

.header-navigation a,
.header-navigation button {
  font-size: 1.125rem;
  color: inherit;
  margin-left: 1.75rem;
  position: relative;
  font-weight: 500;
}

.header-navigation a {
  display: none;
  font-size: 1.125rem;
  color: inherit;
  text-decoration: none;
}

.header-navigation button {
  border: 0;
  background-color: transparent;
  padding: 0;
}

.header-navigation a:hover:after,
.header-navigation button:hover:after {
  transform: scalex(1);
}

.header-navigation a:after,
.header-navigation button:after {
  transition: 0.25s ease;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
  transform: scalex(0);
  position: absolute;
  bottom: -2px;
  left: 0;
}

body {
  margin: 0 0 100px 0;
  padding: 0; }

.band {
  padding: 0 5%; }
  .band.hero {
    height: 100px;
    background-color: #ffffff;
    background-image: url(../images/__logo__.svg);
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: center center; 
    background-position: 5%;
    box-shadow: 0px 10px 5px rgb(220, 219, 219);
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */}


.bandContent {
  margin: 0 auto;
  max-width: 1200px; }
  .bandContent p {
    margin: 1em 0; }
  .bandContent h1 {
    margin-top: 2.5em; }
  .bandContent.intro p {
    font-size: 16px; }
  .bandContent a {
    text-decoration: none;
    color: #e6553a; }
    .bandContent a:hover {
      text-decoration: underline; }
    .bandContent a.introDoc {
      display: inline-block;
      line-height: 50px;
      padding-left: 50px;
      background-image: url(../images/info.png);
      background-size: 40px 40px;
      background-repeat: no-repeat;
      background-position: left center; }
  .bandContent ul p {
    line-height: 20px; }

/*# sourceMappingURL=example-landing.css.map */
